.splash-screen {
  position: fixed;
  inset: 0;

  width: 100vw;
  height: 100dvh;

  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  z-index: 99999;
}

.splash-image {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;

  display: block;

  animation: cafeSplash 5s ease-in-out forwards;
}

/* Smooth image animation */
@keyframes cafeSplash {
  0% {
    opacity: 0;
    transform: scale(1.08);
  }

  15% {
    opacity: 1;
    transform: scale(1.04);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Mobile */
@media (max-width: 768px) {
  .splash-screen {
    width: 100vw;
    height: 100dvh;
  }

  .splash-image {
    width: 100vw;
    height: 100dvh;
    object-fit: cover;
    object-position: center;
  }
}